{% extends "dashboard.html" %}


{% block heading %}
<h2 class="mt-4">{{car.make}} {{car.model}} automobilio informacija</h2>
<p></p>
{% endblock %}


{% block content %}
{% load static %}

{% if car.car_pic %}
<img class="card-img-top mb-3" style="max-width: 300px" src="{{ car.car_pic.url }}">
{% endif %}

<p></p>
<p><strong>Klients:</strong> {{car.client_name}}</p>
<p><strong>Numeris:</strong> {{car.license_plate}} </p>
<p><strong>Kėbulo numeris:</strong>  {{car.vin_code}}</p>

<h3>Taisymai</h3>
{% for order in car.order.all %}
<p><a href="{% url 'order' order.pk %}">{{order.date}}</a></p>
{% empty %}
<p>Nebuvo ankstesniu taisymu</p>
{% endfor %}

{% endblock %}

