{% extends "dashboard.html" %}

{% block heading %}

<h2 class="mt-4"> Šiuo metu autoservise aptarnaujamos mašinos</h2>
<p></p>

{% endblock %}


{% block content %}
{% load static %}

{% for car in cars %}
<div class="col-md-4 d-flex align-items-stretch">
    <div class="card mb-4 shadow-sm" style="width:200px">
            {% if car.car_pic %}
            <img src="{{ car.car_pic.url }}" class="card-img-top" alt="...">
            {% else %}
            <img src="{% static 'img/no-image.png' %}" class="card-img-top">
            {% endif %}
        <div class="card-body">
            <a href="{% url 'car' car.pk %}">{{car.make}} {{car.model}} - {{car.client_name}}</a>
            </div>
      </div>

</div>
{% endfor %}


{% if cars.has_other_pages %}

            <ul class="pagination pagination-sm justify-content-center">
                {% for i in cars.paginator.page_range %}
                    {% if cars.number == i %}
                        <li class="page-item active">
                            <a class="page-link">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>

{% endif %}

{% endblock %}

