{% extends "dashboard.html" %}


{% block heading %}

<h2 class="mt-4"> Užsakymas</h2>
<p></p>
{% endblock %}


{% block content %}

<p>Automobilis: <a href="{% url 'car' order.car.pk %}">{{order.car}}</a></p>
<p>Valstybinis numeris: {{order.car.license_plate}}</p>
<p>Vin kodas: {{car.vin_code}}</p>
<p>Data: {{order.date}}</p>
<p>Būsena: {{order.get_status_display}}</p>

<div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Tasiymo darbai
                            </div>
                            <div class="card-body">
                                <table class="table" id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Paslauga</th>
                                            <th>Kiekis</th>
                                            <th>Kaina</th>
                                            <th>Suma</th>

                                        </tr>
                                    </thead>
<!--                                    <tfoot>-->
<!--                                        <tr>-->
<!--                                            <th>Name</th>-->
<!--                                            <th>Position</th>-->
<!--                                            <th>Office</th>-->
<!--                                            <th>Age</th>-->
<!--                                            <th>Start date</th>-->
<!--                                            <th>Salary</th>-->
<!--                                        </tr>-->
<!--                                    </tfoot>-->
                                    <tbody>

                                    {% for line in order.lines.all %}
                                        <tr>
                                            <td>{{ line.service.name }}</td>
                                            <td>{{ line.quantity}}</td>
                                            <td>{{ line.service.price}}</td>
                                            <td>{{ line.line_sum}}</td>
                                        </tr>
                                    {% endfor %}

                                    <tr>
                                        <td colspan="3"><strong>BENDRA SUMA:</strong></td>
                                        <td>{{order.total}}</td>
                                    </tr>




                                    </tbody>
                                </table>
                            </div>
                        </div>

{% endblock %}

